.wrapper {
flex-direction: column;
}


.menu {
width: 100%;
flex-direction: row;
flex-wrap: wrap;
gap: 10px;
}


.menu button {
flex: 1 1 45%;
}


.content {
margin-left: 0;
margin-top: 20px;
}